@import "tailwindcss";

html,body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}


/* Mobile Dropdown Scrollbar */
.mobile-dropdown-scroll::-webkit-scrollbar {
  width: 5px;
}

.mobile-dropdown-scroll::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 999px;
}

.mobile-dropdown-scroll::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 999px;
}

.mobile-dropdown-scroll::-webkit-scrollbar-thumb:hover {
  background: #0284c7;
}